.maindivhe{
 text-align: center;
 
}
  .abim{
    width: 250px;
    height: 250px;
  }
  .ab{
    font-size: 70px;
    margin-bottom: 4%;
    font-family: 'lemonada',sans-serif;
    font-weight: bolder;
    text-shadow: .1rem .1rem .3rem #333;
    color: yellow;
  }
  .abim{
  width: 140px;
    height: 140px;
    border-radius: 55px;
    border: black 1px solid;
  }